<%= form_for([@activity, @activity.comments.build], :html => { :style => 'display: none;' }) do |f| %>
  <div class="field">
    <%= f.text_area :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>