#header h1 { 
	float: left; 
}

#header #account_stuff {
	float: right;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#flash_notice {
	color: green;
	font-size: 1.2em;
}

#error {
	color: red;
	font-size: 1.2em;
}

#error li {
	list-style: none;
}

body {
	font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
}